html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

.App {
  background-color: #191414;
  height: 100%;
  width: 100%;
}

.Login {
  background-color: #191414;
  height: 100vh;
  text-align: center;
}

.Welcome {
  text-align: center;
  color: white;
  background-color: #191414;
  height: 100vh;
  padding: 2em;
}

.welcome-message {
  margin: 3em;
  font-size: 2.5vmin;
}

.btn {
  background-color: #1db954;
  border-radius: 500px;
  color: #fff;
  cursor: pointer;
  font-size: 2.5vmin;
  padding: 16px 48px 18px;
  text-transform: uppercase;
  text-decoration: none;
  transition-duration: 0.3s;
  letter-spacing: 2px;
  font-weight: bold;
}

.btn:hover {
  color: #1db954;
  background: #333;
}
