.chart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2c2c2c;
  padding-top: 1em;
}

.sidebar-options {
  display: flex;
  width: 100%;
  align-content: center;
  place-content: space-between;
  padding: 0 2em;
}

#data-type {
  border: none;
  background-color: #2c2c2c;
  color: white;
  font-size: 24px;
  text-align-last: center;
}

#time-range {
  background-color: #2c2c2c;
  border-radius: 8px;
  padding: 4px 0;
  color: white;
  font-size: 16px;
  text-align-last: center;
}

.main-wrapper {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em;
}

.chart-item {
  width: 150px;
  text-align: center;
}

.chart-img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.chart-img-album {
  width: 100px;
  height: 100px;
}

.chart-item-title {
  margin: 1em 0 0.2em 0;
}

.chart-item-subtitle {
  margin: 0 0 1.5em 0;
  font-weight: lighter;
  font-size: small;
  color: #eaeaea;
}

.chart-item-genre {
  margin: 1em 0 0.2em 0;
  text-transform: capitalize;
}

.chart-item-number {
  font-weight: bold;
  font-size: xx-large;
  color: #1db954;
}
