.main-wrapper {
    background-color: #2c2c2c;
    color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}

.chart-item {
    width: 150px;
    text-align: center;
}

.chart-img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.chart-img-album {
    width: 100px;
    height: 100px;
}

.chart-item-title {
    margin: 1em 0 0.2em 0;
}

.chart-item-subtitle {
    margin: 0 0 1.5em 0;
    font-weight: lighter;
    font-size: small;
    color: #eaeaea;
}

.chart-item-genre {
    margin: 1em 0 0.2em 0;
    text-transform: capitalize;
}

.chart-item-number {
    font-weight: bold;
    font-size: xx-large;
    color: #1DB954;
}